.page_container {
  display: flex;
  height: 100%;

  .contents_div {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: calc(100% - 300px);
    min-height: 100vh;

    header {
      width: calc(100% - 100px);
      margin: 0 auto;
      margin-top: 40px;

      .kor_name_div {
        font-size: 30px;
        transform: translateY(20px);
        color: grey;
      }

      .eng_name_div {
        font-size: 80px;
        font-weight: bolder;
      }

      .job_name_div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        background-color: #eee;
        box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}
